* {
    font-family: "Lucida Console", sans-serif;
    font-size: 14px;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#output {
    color: white;
}

#input {
    color: white;
    word-break: break-all;
    margin-left: 15px;
}

#path {
    color: white;
}

#input:focus {
    outline: none;
}
